{% extends "layout.html" %}
{% block body %}



<div class="row">
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ entity.name }}</h3>
                <div class="heading-anchor">
                    <a href="/entity/{{ entity.key.id() }}/update">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> edit
                    </a>
                </div>
                <div class="heading-anchor">
                    <a href="/entity/{{ entity.key.id() }}/command">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> command
                    </a>
                </div>
                <div class="heading-anchor">
                    <a href="#" data-toggle="modal" data-target="#confirm-delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete
                    </a>
                </div>
                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="heading-title">Delete {{ title }}</h4>
                            </div>
                            <div class="modal-body">
                                This can't be undone. Are you really sure?
                            </div>
                            <div class="modal-footer">
                                <form class="inline-form" action="/entity/{{ entity.key.id() }}/delete" method="post">
                                    <button type="submit" class="btn btn-danger btn-ok pull-right">Delete</button>
                                </form>
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <td>uuid: </td>
                    <td>{{ entity.key.id() }}</td>
                </tr>
                <tr>
                    <td>description: </td>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <td>serial: </td>
                    <td>{{ entity.serial }}</td>
                </tr>
{#                {% for k, v in entity.template_values.iteritems() %}#}
{#                <tr>#}
{#                    <td>{{ k }}: </td>#}
{#                    <td>{{ v }}</td>#}
{#                </tr>#}
{#                {% endfor %}#}
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="heading-title">credentials</h4>
                {% if not creds %}
                    <div class="heading-anchor">
                        <a href="#" data-toggle="modal" data-target="#confirm-regenerate">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> regenerate
                        </a>
                    </div>
                    <div class="modal fade" id="confirm-regenerate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="heading-title">Regenerate Keys {{ title }}</h4>
                                </div>
                                <div class="modal-body">
                                    This will generate new public and private keys for this entity. Are you sure?
                                </div>
                                <div class="modal-footer">
                                    <form class="inline-form" action="/entity/{{ entity.key.id() }}/regenerate" method="post">
                                        <button type="submit" class="btn btn-danger btn-ok pull-right">Regenerate</button>
                                    </form>
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="heading-anchor">
                        <a href="data:text/plain;charset=utf-8,{{ creds }}" id="link" download="augment00_creds_{{ tag }}.json">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> download
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if creds %}
            <div class="rsa_key"><pre>{{ creds }}</pre></div>
            {% endif %}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="heading-title">config files</h4>
            </div>
            <table class="table">
                {% for config in entity.config_files %}
                <tr>
                    <td class="vmiddle item-title"><a href="/config/{{ config.key.id() }}">{{ config.name }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
{% endblock %}